In [4]:
#importing all datasets
#had to import openpyxl first so python was able to import the excel-file ("pip3 install openpyxl" in the terminal)
import pandas as pd
df_staff = pd.read_excel('../app/data/staff.xlsx', skiprows=2) #skipping the first two rows as they only contain the description / title
df_services = pd.read_excel('../app/data/services.xlsx', skiprows=2)
df_infrastructure = pd.read_excel('../app/data/infrastructure.xlsx', skiprows=2)
df_cost = pd.read_excel('../app/data/cost_hospitals.xlsx') #dataset is a bit different to the others so no skipping

In [5]:
#having a look at the datasets to get a feeling how to merge them into one
df_staff.info()
df_staff.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1 non-null      object
 1   Unnamed: 1   1 non-null      object
 2   Unnamed: 2   4 non-null      float64
 3   Unnamed: 3   4 non-null      object
 4   Unnamed: 4   12 non-null     float64
 5   Unnamed: 5   12 non-null     object
 6   Unnamed: 6   96 non-null     object
 7   Unnamed: 7   96 non-null     object
 8   Unnamed: 8   96 non-null     object
 9   Unnamed: 9   96 non-null     object
 10  Unnamed: 10  96 non-null     int64
 11  Unnamed: 11  96 non-null     object
 12  2010         96 non-null     float64
 13  2011         96 non-null     float64
 14  2012         96 non-null     float64
 15  2013         96 non-null     float64
 16  2014         96 non-null     float64
 17  2015         96 non-null     float64
 18  2016         96 non-null     float64
 19  2017         96 non-null     float64
 20  2018         96 non-null     float64
 21  2019         96 non-null     float64
 22  2020         96 non-null     float64
 23  2021         96 non-null     float64
 24  2022         96 non-null     float64
 25  2023         96 non-null     float64
dtypes: float64(16), int64(1), object(9)
memory usage: 19.6+ KB

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,VZA,Internes Personal in Vollzeitäquivalenten,1.0,<< Ärzteschaft,12.0,<< Allgemeine Krankenhäuser,8100,Schweiz,Geschlecht - Total,Geschlecht - Total,...,17525.92,18285.13,19139.73,19486.05,20210.63,21132.86,21678.85,22185.89,22798.20,23780.07
1,NaN,NaN,NaN,NaN,NaN,NaN,A,Région lémanique,Geschlecht - Total,Geschlecht - Total,...,4412.64,4502.48,4668.35,4800.56,4893.25,5238.53,5475.00,5622.53,5686.23,5832.68
2,NaN,NaN,NaN,NaN,NaN,NaN,B,Espace Mittelland,Geschlecht - Total,Geschlecht - Total,...,3404.14,3570.26,3767.41,3888.98,4157.41,4484.84,4502.07,4566.20,4703.81,4906.69
3,NaN,NaN,NaN,NaN,NaN,NaN,C,Nordwestschweiz,Geschlecht - Total,Geschlecht - Total,...,2619.35,2687.73,2808.51,2799.83,2838.82,2945.39,3006.26,3024.93,3141.05,3370.78
4,NaN,NaN,NaN,NaN,NaN,NaN,D,Zürich,Geschlecht - Total,Geschlecht - Total,...,2994.01,3147.39,3277.06,3324.22,3536.40,3596.79,3690.91,3798.37,3883.18,4035.89

In [6]:
df_services.info()
df_services.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9 non-null      object
 1   Unnamed: 1  9 non-null      object
 2   Unnamed: 2  72 non-null     object
 3   Unnamed: 3  72 non-null     object
 4   Unnamed: 4  216 non-null    int64
 5   Unnamed: 5  216 non-null    object
 6   2010        216 non-null    object
 7   2011        216 non-null    object
 8   2012        216 non-null    object
 9   2013        216 non-null    object
 10  2014        216 non-null    object
 11  2015        216 non-null    object
 12  2016        216 non-null    object
 13  2017        216 non-null    object
 14  2018        216 non-null    object
 15  2019        216 non-null    object
 16  2020        216 non-null    object
 17  2021        216 non-null    object
 18  2022        216 non-null    object
 19  2023        216 non-null    object
dtypes: int64(1), object(19)
memory usage: 33.9+ KB

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Anzahl_Spitaeler,Anzahl Spitäler,8100,Schweiz,12,<< Allgemeine Krankenhäuser,121,120,116,113,108,106,102,102,102,105,106,104,101,101
1,NaN,NaN,NaN,NaN,1,....Zentrumsversorgung,30,30,30,39,39,40,44,44,44,44,44,44,45,44
2,NaN,NaN,NaN,NaN,2,....Grundversorgung,91,90,86,74,69,66,58,58,58,61,62,60,56,57
3,NaN,NaN,A,Région lémanique,12,<< Allgemeine Krankenhäuser,23,23,23,19,17,17,17,17,17,17,18,18,20,20
4,NaN,NaN,NaN,NaN,1,....Zentrumsversorgung,7,7,7,5,5,5,7,7,7,7,7,7,7,7

In [7]:
df_infrastructure.info()
df_infrastructure.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8 non-null      object
 1   Unnamed: 1  8 non-null      object
 2   Unnamed: 2  16 non-null     object
 3   Unnamed: 3  16 non-null     object
 4   Unnamed: 4  128 non-null    object
 5   Unnamed: 5  128 non-null    object
 6   2013        128 non-null    int64
 7   2014        128 non-null    int64
 8   2015        128 non-null    int64
 9   2016        128 non-null    int64
 10  2017        128 non-null    int64
 11  2018        128 non-null    int64
 12  2019        128 non-null    int64
 13  2020        128 non-null    int64
 14  2021        128 non-null    int64
 15  2022        128 non-null    int64
 16  2023        128 non-null    int64
dtypes: int64(11), object(6)
memory usage: 17.1+ KB

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ANGIOGRAPHIE,Angiographiegeräte,Anzahl_Infra,Anzahl Geräte,8100,Schweiz,137,138,146,143,136,136,128,141,145,154,152
1,NaN,NaN,NaN,NaN,A,Région lémanique,28,29,29,26,25,27,23,24,23,27,28
2,NaN,NaN,NaN,NaN,B,Espace Mittelland,27,27,27,25,25,24,24,28,29,29,28
3,NaN,NaN,NaN,NaN,C,Nordwestschweiz,20,20,21,22,22,22,19,21,21,23,23
4,NaN,NaN,NaN,NaN,D,Zürich,25,25,25,25,28,28,25,32,32,33,30

In [8]:
df_cost.info()
df_cost.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4371 entries, 0 to 4370
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JAHR       4371 non-null   int64
 1   KT         4371 non-null   object
 2   Status     372 non-null    object
 3   Inst       4371 non-null   object
 4   Adr        4175 non-null   object
 5   Ort        4371 non-null   object
 6   Typ        4371 non-null   object
 7   KostAmbA   2612 non-null   float64
 8   KostStatA  2612 non-null   float64
 9   KostAmbP   1519 non-null   float64
 10  KostStatP  1519 non-null   float64
 11  KostAmbR   1697 non-null   float64
 12  KostStatR  1697 non-null   float64
 13  KostAmbB   789 non-null    float64
 14  KostStatB  789 non-null    float64
dtypes: float64(8), int64(1), object(6)
memory usage: 512.4+ KB

,JAHR,KT,Status,Inst,Adr,Ort,Typ,KostAmbA,KostStatA,KostAmbP,KostStatP,KostAmbR,KostStatR,KostAmbB,KostStatB
0,2008,BE,öffentlich oder subventioniert,Inselspital Bern,Freiburgstrasse 18,3010 Bern,K111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,BE,öffentlich oder subventioniert,Inselspital Bern,Freiburgstrasse 18,3010 Bern,K111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,BE,NaN,Inselspital Bern,Freiburgstrasse 18,3010 Bern,K111,274650903.0,636001888.0,0.0,0.0,0.0,9680385.0,0.0,0.0
3,2011,BE,NaN,Inselspital Bern,Freiburgstrasse 18,3010 Bern,K111,281401666.0,665454486.0,0.0,0.0,0.0,9275349.0,0.0,0.0
4,2012,BE,NaN,Inselspital Bern,Freiburgstrasse 18,3010 Bern,K111,311940148.0,700459585.0,NaN,NaN,0.0,10225005.0,NaN,NaN

In [9]:
#before merging we're doing a rough clean so merging will be easier
#first: remove the first and eigth to eleventh column in the staff dataset
df_staff = df_staff.drop(columns=["Unnamed: 0", "Unnamed: 1", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10", "Unnamed: 11"]) #removing it this way to avoid removing more columns later on with another name if i run the code again (dont know if that makes sense)
df_staff.head()

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1.0,<< Ärzteschaft,12.0,<< Allgemeine Krankenhäuser,8100,Schweiz,15723.60,16460.73,16695.57,16952.75,17525.92,18285.13,19139.73,19486.05,20210.63,21132.86,21678.85,22185.89,22798.20,23780.07
1,NaN,NaN,NaN,NaN,A,Région lémanique,3926.23,4204.06,4314.79,4240.59,4412.64,4502.48,4668.35,4800.56,4893.25,5238.53,5475.00,5622.53,5686.23,5832.68
2,NaN,NaN,NaN,NaN,B,Espace Mittelland,3259.08,3237.56,3313.89,3403.62,3404.14,3570.26,3767.41,3888.98,4157.41,4484.84,4502.07,4566.20,4703.81,4906.69
3,NaN,NaN,NaN,NaN,C,Nordwestschweiz,2267.93,2699.09,2564.04,2589.06,2619.35,2687.73,2808.51,2799.83,2838.82,2945.39,3006.26,3024.93,3141.05,3370.78
4,NaN,NaN,NaN,NaN,D,Zürich,2761.42,2684.31,2730.89,2828.06,2994.01,3147.39,3277.06,3324.22,3536.40,3596.79,3690.91,3798.37,3883.18,4035.89

In [10]:
#step 2: (re)name the columns
#for df_staff
df_staff.columns = ["Berufsgruppe_ID",
                    "Berufsgruppe", 
                    "Krankenhaus_Typ_ID", 
                    "Krankenhaus_Typ", 
                    "Region_ID", 
                    "Region", 
                    "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023"]
df_staff.head()

#for df_services
df_services.columns = ["Kat_Services",
                       "Kat_Services_Beschreibung",
                       "Region_ID", #nachher noch duplicates löschen! sind in jedem dataset vorhanden
                       "Region", #nachher noch duplicates löschen! sind in jedem dataset vorhanden
                       "Krankenhaus_Typ_ID", #nachher noch duplicates löschen! sind in jedem dataset vorhanden
                       "Krankenhaus_Typ", #nachher noch duplicates löschen! sind in jedem dataset vorhanden
                       "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023"]
df_services.head()

#for df_infrastructure
df_infrastructure.columns = ["Gerät_Kurzname",
                             "Gerät_Beschreibung",
                             "Kat_Infrastructure", #Anzahl_Infra / Untersuchungen_Total
                             "Kat_Infrastructure_Beschreibung",
                             "Region_ID",
                             "Region",
                             "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023"]
df_infrastructure.head()

,Gerät_Kurzname,Gerät_Beschreibung,Kat_Infrastructure,Kat_Infrastructure_Beschreibung,Region_ID,Region,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ANGIOGRAPHIE,Angiographiegeräte,Anzahl_Infra,Anzahl Geräte,8100,Schweiz,137,138,146,143,136,136,128,141,145,154,152
1,NaN,NaN,NaN,NaN,A,Région lémanique,28,29,29,26,25,27,23,24,23,27,28
2,NaN,NaN,NaN,NaN,B,Espace Mittelland,27,27,27,25,25,24,24,28,29,29,28
3,NaN,NaN,NaN,NaN,C,Nordwestschweiz,20,20,21,22,22,22,19,21,21,23,23
4,NaN,NaN,NaN,NaN,D,Zürich,25,25,25,25,28,28,25,32,32,33,30

In [11]:
df_services.head()

,Kat_Services,Kat_Services_Beschreibung,Region_ID,Region,Krankenhaus_Typ_ID,Krankenhaus_Typ,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Anzahl_Spitaeler,Anzahl Spitäler,8100,Schweiz,12,<< Allgemeine Krankenhäuser,121,120,116,113,108,106,102,102,102,105,106,104,101,101
1,NaN,NaN,NaN,NaN,1,....Zentrumsversorgung,30,30,30,39,39,40,44,44,44,44,44,44,45,44
2,NaN,NaN,NaN,NaN,2,....Grundversorgung,91,90,86,74,69,66,58,58,58,61,62,60,56,57
3,NaN,NaN,A,Région lémanique,12,<< Allgemeine Krankenhäuser,23,23,23,19,17,17,17,17,17,17,18,18,20,20
4,NaN,NaN,NaN,NaN,1,....Zentrumsversorgung,7,7,7,5,5,5,7,7,7,7,7,7,7,7

In [12]:
#step 3: bring the three datasets staff, services and infrastructure in a (not already perfect) tidy data layout before looking at the cost dataset
#generating "new" datasets to still have the "original version" if something goes wrong, maybe changing the name later on to make it more systematic
#for pd_staff
id_vars = ["Berufsgruppe_ID", "Berufsgruppe", "Krankenhaus_Typ_ID", "Krankenhaus_Typ", "Region_ID", "Region"] #define all variables that should stay in pd_staff
df_staff_melt = df_staff.melt(id_vars = id_vars, var_name = "Jahr", value_name = "Anzahl VZÄ") #melt the years in staff into a column

###recognized the data has a lot of NaN because e.g. the berufsgruppe_id is only for the first observation, so adding the first value for all the following ones
### so we have to add them with df.fillna (see cheat sheet)
columns_staff_ffill =["Berufsgruppe_ID", "Berufsgruppe", "Krankenhaus_Typ_ID", "Krankenhaus_Typ"] #creating a list which mentions for which columns we want fo ffill NaN with the values above, had an error when i ran the code without defining the columns
df_staff_melt[columns_staff_ffill] = df_staff_melt[columns_staff_ffill].ffill()
df_staff_melt.head(50)



###for pd_services###
id_vars = ["Kat_Services", "Kat_Services_Beschreibung", "Region_ID", "Region", "Krankenhaus_Typ_ID", "Krankenhaus_Typ"] #define all variables that should stay in pd_services (can just overwrite the list above)
df_services_melt = df_services.melt(id_vars = id_vars, var_name = "Jahr", value_name = "Anzahl Kat_Services") #noch Kat-Services besser machen, so dass Anzahl Spitäler eine Spalte, Anzahl Betten etc.

#fill the missing values with df.fillna
columns_services_ffill = ["Kat_Services", "Kat_Services_Beschreibung", "Region_ID", "Region"]
df_services_melt[columns_services_ffill] = df_services_melt[columns_services_ffill].ffill()
df_services_melt.head(50)

### pivoting to get the Kat_Services column as seperate colums (sodass Anzahl_kat_services unterteilt wird und Anzahl Spitäler, Anzahl Betten etc. eigene spalten sind)
#drop the Kat_Services_Beschreibung to make it easier
df_services_melt = df_services_melt.drop(columns=["Kat_Services_Beschreibung"])
###pivoting
df_services_melt = df_services_melt.pivot(index=["Region_ID", "Region", "Krankenhaus_Typ_ID", "Krankenhaus_Typ", "Jahr"], columns="Kat_Services", values="Anzahl Kat_Services").reset_index()
df_services_melt.head(20)



###for pd.infrastructure
id_vars = ["Gerät_Kurzname", "Gerät_Beschreibung", "Kat_Infrastructure", "Kat_Infrastructure_Beschreibung", "Region_ID", "Region"] #define all variables that should stay in pd_infrastructure
df_infrastructure_melt = df_infrastructure.melt(id_vars = id_vars, var_name = "Jahr", value_name = "Anzahl Infrastructure") #melt the years into a column

#using fffilna again
columns_infrastructure_ffill = ["Gerät_Kurzname", "Gerät_Beschreibung", "Kat_Infrastructure", "Kat_Infrastructure_Beschreibung"]
df_infrastructure_melt[columns_infrastructure_ffill] = df_infrastructure_melt[columns_infrastructure_ffill].ffill()
df_infrastructure_melt.head()


###pivoting because "Untersuchungen" and "Anzahl Geräte is in one column" --> Kat_Infrastructure and Kat_Infrastructure_Beschreibung are duplicates, so dropping Beschreibung first
df_infrastructure_melt = df_infrastructure_melt.drop(columns=["Kat_Infrastructure_Beschreibung"])
df_infrastructure_melt = df_infrastructure_melt.pivot(index=["Gerät_Kurzname", "Gerät_Beschreibung", "Region_ID", "Region", "Jahr"], columns="Kat_Infrastructure", values="Anzahl Infrastructure").reset_index()
df_infrastructure_melt.head(30)

Kat_Infrastructure,Gerät_Kurzname,Gerät_Beschreibung,Region_ID,Region,Jahr,Anzahl_Infra,Untersuchungen_Total
0,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2013,137,105713
1,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2014,138,116967
2,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2015,146,119395
3,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2016,143,121854
4,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2017,136,118025
5,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2018,136,120937
6,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2019,128,122241
7,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2020,141,125604
8,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2021,145,130066
9,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2022,154,127667
10,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2023,152,124086
11,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2013,28,21146
12,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2014,29,20809
13,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2015,29,23177
14,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2016,26,21851
15,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2017,25,23531
16,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2018,27,24294
17,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2019,23,23156
18,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2020,24,25644
19,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2021,23,23962
20,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2022,27,24968
21,ANGIOGRAPHIE,Angiographiegeräte,A,Région lémanique,2023,28,24057
22,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2013,27,24572
23,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2014,27,24964
24,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2015,27,27991
25,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2016,25,28393
26,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2017,25,28902
27,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2018,24,28894
28,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2019,24,30104
29,ANGIOGRAPHIE,Angiographiegeräte,B,Espace Mittelland,2020,28,25624

sort all values before merging!!

In [13]:
df_services_melt = df_services_melt.sort_values(by=["Jahr", "Region_ID"])
df_services_melt.head()

Kat_Services,Region_ID,Region,Krankenhaus_Typ_ID,Krankenhaus_Typ,Jahr,Anzahl_Spitaeler,Betten_Total,Betten_akut,Betten_geb,Betten_psy,Betten_reha,Bettenbelegung,Bettenbetriebstage,Pflegetage_M_365
0,8100,Schweiz,1,....Zentrumsversorgung,2010,30,17031,13937,*,1032,2063,93,6216484,5784342
14,8100,Schweiz,2,....Grundversorgung,2010,91,9085,8439,*,166,480,91,3315849,3025719
28,8100,Schweiz,12,<< Allgemeine Krankenhäuser,2010,121,26116,22375,*,1198,2542,92,9532333,8810061
42,A,Région lémanique,1,....Zentrumsversorgung,2010,7,4862,2714,*,849,1299,97,1774681,1714449
56,A,Région lémanique,2,....Grundversorgung,2010,16,1696,1397,*,0,299,82,619204,506694

In [14]:
df_infrastructure_melt = df_infrastructure_melt.sort_values(by=["Jahr", "Region_ID"])
df_infrastructure_melt.head()

Kat_Infrastructure,Gerät_Kurzname,Gerät_Beschreibung,Region_ID,Region,Jahr,Anzahl_Infra,Untersuchungen_Total
0,ANGIOGRAPHIE,Angiographiegeräte,8100,Schweiz,2013,137,105713
88,CT_SCANNER,CT Scanner,8100,Schweiz,2013,194,730432
176,DIALYSE,Dialysegeräte,8100,Schweiz,2013,1141,383943
264,GAMMA_CAMERA,Gamma Camera (inklusive Szintigraphie und SPEC...,8100,Schweiz,2013,68,98765
352,LINEARBESCHLEUNIGER,Linearbeschleuniger (Radiotherapie),8100,Schweiz,2013,52,334002

In [15]:
df_staff_melt = df_staff_melt.sort_values(by=["Jahr", "Region_ID"])
df_staff_melt.head()

,Berufsgruppe_ID,Berufsgruppe,Krankenhaus_Typ_ID,Krankenhaus_Typ,Region_ID,Region,Jahr,Anzahl VZÄ
0,1.0,<< Ärzteschaft,12.0,<< Allgemeine Krankenhäuser,8100,Schweiz,2010,15723.60
8,1.0,<< Ärzteschaft,1.0,....Zentrumsversorgung,8100,Schweiz,2010,12154.95
16,1.0,<< Ärzteschaft,2.0,....Grundversorgung,8100,Schweiz,2010,3568.65
24,8.0,<< Pflegepersonal,12.0,<< Allgemeine Krankenhäuser,8100,Schweiz,2010,47591.48
32,8.0,<< Pflegepersonal,1.0,....Zentrumsversorgung,8100,Schweiz,2010,32955.09